* {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}


/* html */

.wrapper {
    background-color: #000;
    max-height: 1148px;
    background-size: cover;
}

.container {
    position: relative;
    top: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding-top: 50px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.nav-link {
    margin-left: 50px;
}

.nav-link:hover {
    border: 1px solid #e9204f;
    border-top: none;
    border-right: none;
    border-left: none;
    border-width: 3px;
}

.first-hr {
    border: 1px solid #e9204f;
    margin-top: 100px;
    width: 60px;
}

.middle-row {
    display: flex;
    flex-wrap: wrap;
}

.subheading {
    color: #fff;
    font-size: 76px;
    font-weight: 700;
    margin-top: 100px;
}

.photo {
    width: 500px;
    height: 600px;
    margin-top: -40px;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: 2px solid #e9204f;
    margin-top: -180px;
    width: 190px;
    height: 60px;
    line-height: 60px;
}

.btn:hover {
    background-color: #e9204f;
    border: 2px solid #fff;
    color: #000;
    transition: .2s ease-in;
}


/* Blocks */

.blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.block1 {
    background-color: #e9204f;
    width: 380px;
    height: 380px;
}

.block2 {
    background-color: #1b1b1b;
    width: 380px;
    height: 380px;
}

.block3 {
    background-color: #1b1b1b;
    width: 380px;
    height: 380px;
    z-index: 3;
}

.block-icon {
    margin-left: 45px;
    margin-top: 65px;
}

.icon {
    width: 45px;
    height: 45px;
}

.block-heading {
    color: #fff;
    margin-top: 70px;
    margin-left: 42px;
    font-size: 24px;
    font-weight: 600;
}

.heading-hr {
    margin-top: 12px;
    margin-left: 42px;
    border: 1px solid #fff;
    width: 40px;
}

.block-text {
    margin-top: 25px;
    margin-left: 42px;
    color: #fff;
    font-size: 18px;
}

.block4 {
    background-color: #e9204f;
    position: relative;
    z-index: 2;
    left: 820px;
    bottom: 56px;
    right: 100px;
    width: 400px;
    height: 69px;
}


/* Midlle */

.vertical-hr {
    border: 1px solid #e9204f;
    width: 30px;
    margin: 0 auto;
    margin-top: 15px;
    transform: rotate(90deg);
}

.next-wrapp {
    background-color: #101010;
    height: 1148px;
    background-size: cover;
}

.middle-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.services-first-hr {
    border: 1px solid #e9204f;
    width: 30px;
}

.services-heading {
    margin-top: 37px;
    font-size: 44px;
    font-weight: 600;
    color: #fff;
}

.services-subheading {
    margin-top: 37px;
    color: #e9204f;
    font-weight: 600;
    text-transform: uppercase;
}


/* Section */

.section-row {
    margin-top: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section1 {
    background-color: #191919;
    width: 380px;
    height: 103px;
}

.section2 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-left: 30px;
}

.section3 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-left: 30px;
}

.section4 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-top: 30px;
}

.section5 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-top: 30px;
    margin-left: 30px;
}

.section6 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-top: 30px;
    margin-left: 30px;
}

.section7 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-top: 30px;
}

.section8 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-top: 30px;
    margin-left: 30px;
}

.section9 {
    background-color: #191919;
    width: 380px;
    height: 103px;
    margin-top: 30px;
    margin-left: 30px;
}

.section-text {
    margin-left: 30px;
    margin-top: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.arrow-block {
    margin-top: -7px;
}

.icon-arrow {
    width: 32px;
    height: 32px;
    position: relative;
    left: 320px;
    margin-top: -200px;
}
